In [1]:
print("Hello World")

Hello World

# Python Variables

In [2]:
aVariable = 15

In [3]:
aVariablea

NameError: name 'aVariablea' is not defined

In [4]:
aVariable

15

In [5]:
type(aVariable)

int

# Python Types

In [6]:
#############
# Built in Types
###################
# Strings 
# Numbers:  Integers and Floats
# Boolean

In [7]:
#Strings are enclosed in single or double quotes
test = "Buhari"
test1 = ' Yahaya Bello'

In [8]:
test

'Buhari'

In [9]:
test1

' Yahaya Bello'

In [10]:
test3 = 'This is Obi's car'

SyntaxError: invalid syntax (<ipython-input-10-81dc606810bd>, line 1)

In [11]:
test3 = "This is Obi's car"

In [12]:
test3

"This is Obi's car"

In [13]:
test3 = This is Obi's car

SyntaxError: EOL while scanning string literal (<ipython-input-13-31359429be51>, line 1)

In [14]:
type(test3)

str

In [15]:
#Python numbers
#Integers = regular 1, 2, 3 etc
#Floats = decimal place numbers 1.0, 1.4, 7.8

In [16]:
number = 27

In [17]:
number

27

In [18]:
number2 = 5.9

In [19]:
number2

5.9

In [20]:
type(number)

int

In [21]:
type(number2)

float

In [23]:
#Boolean 
#True
#False

In [24]:
number + number2

32.9

In [25]:
number * number2

159.3

In [26]:
test + number

TypeError: can only concatenate str (not "int") to str

In [27]:
test + test1

'Buhari Yahaya Bello'

In [28]:
test - test1

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [29]:
number

27

In [30]:
number2

5.9

In [31]:
number3 = 2

In [32]:
#modulo - It returns the remainder from a division
number % number3

1

In [33]:
#Boolean: True or False

In [34]:
number3

2

In [35]:
number3 == 5

False

In [36]:
number3 == 2

True

In [37]:
number3

2

In [38]:
number3 = number3 + number3

In [39]:
number3

4

In [40]:
number3 += number3

In [41]:
number3

8

# Python Collections

In [42]:
#Python list  square brackets []
#Python Tuple normal brackets ()
#Python Dictionary curly brackets {}

In [43]:
aList = [test, test1, number, number3]

In [44]:
type(aLsit)

NameError: name 'aLsit' is not defined

In [45]:
type(aList)

list

In [46]:
aList

['Buhari', ' Yahaya Bello', 27, 8]

# Python IF..Else

In [47]:
aList

['Buhari', ' Yahaya Bello', 27, 8]

In [48]:
if = 5

SyntaxError: invalid syntax (<ipython-input-48-1a9bb92cc795>, line 1)

In [49]:
if 27 in aList:
    print("We have 27")

We have 27

In [50]:
if 28 in aList:
    print("We have 28")
else:
    print("No 28. Thanks")

No 28. Thanks

# For Loop

In [51]:
#For loop  == iteration

In [52]:
aList

['Buhari', ' Yahaya Bello', 27, 8]

In [53]:
for item in aList:
    print(item)

Buhari
 Yahaya Bello
27
8

In [54]:
for buhari in aList:
    print(buhari)

Buhari
 Yahaya Bello
27
8

# List Comprehension

In [55]:
#Python list members/items are order.
#This order is represented by index

In [57]:
aList

['Buhari', ' Yahaya Bello', 27, 8]

In [58]:
aList[0]

'Buhari'

In [59]:
aList[2]

27

In [60]:
aList[5]

IndexError: list index out of range

In [61]:
aList

['Buhari', ' Yahaya Bello', 27, 8]

In [62]:
aList[:]

['Buhari', ' Yahaya Bello', 27, 8]

In [63]:
#An int after the colon in slicing a list, returns the first nth numbers
aList[:2]

['Buhari', ' Yahaya Bello']

In [64]:
aList[:3]

['Buhari', ' Yahaya Bello', 27]

In [65]:
#An int before the colon in slicing a list, drops the first nth numbers
aList[2:]

[27, 8]

In [66]:
aList[-1]

8

In [67]:
#Python list is MUTABLE
#Python Tuple is IMMUTABLE
#Python Dictionary is MUTABLE

In [68]:
#Appending

In [69]:
aList.append()

TypeError: append() takes exactly one argument (0 given)

In [70]:
aList.append("Atiku")

In [71]:
aList

['Buhari', ' Yahaya Bello', 27, 8, 'Atiku']

In [72]:
aList.pop(-1)

'Atiku'

In [73]:
aList

['Buhari', ' Yahaya Bello', 27, 8]

In [74]:
if "Atiku" in aList:
    print("Atiku is in there")
else:
    aList.append("Atiku")
    print(aList)

['Buhari', ' Yahaya Bello', 27, 8, 'Atiku']

In [75]:
aList

['Buhari', ' Yahaya Bello', 27, 8, 'Atiku']

In [76]:
aList.pop(0)

'Buhari'

In [77]:
aList

[' Yahaya Bello', 27, 8, 'Atiku']

In [78]:
aList.index("Atiku")

3

In [79]:
aList.pop(3)

'Atiku'

In [80]:
aList

[' Yahaya Bello', 27, 8]

In [81]:
#List respond to index()
#List returns the index at which a member/item sits

In [ ]:
Python Dictionary

In [82]:
f”{2+2}+{10%3}”

SyntaxError: invalid character in identifier (<ipython-input-82-b1ce8377781d>, line 1)

In [83]:
f"{2+2}+{10%3}"

'4+1'

In [84]:
2+2

4

In [85]:
10%3

1

# Python Dictionary

In [86]:
#Comes in curly brackets
#Is made up of a pair of key and value

In [87]:
aDict = {"name":"Paschal"}

In [88]:
aDict

{'name': 'Paschal'}

In [89]:
aDict.keys()

dict_keys(['name'])

In [90]:
aDict.values()

dict_values(['Paschal'])

In [91]:
aDict['address'] = "Lagos"

In [92]:
aDict

{'name': 'Paschal', 'address': 'Lagos'}

In [93]:
pickup = ["showroom", "workshop"]

In [94]:
other_12 = ["Umuahi", "Owerri", "Onitsha"]

In [95]:
pickup

['showroom', 'workshop']

In [96]:
other_12

['Umuahi', 'Owerri', 'Onitsha']

In [97]:
pickup + other_12

['showroom', 'workshop', 'Umuahi', 'Owerri', 'Onitsha']