In [1]:
elphant = "string"
goat = 20
moneky = 3.6
baboon = ["buhari", 12. 5.8]

SyntaxError: invalid syntax (<ipython-input-1-94e70b22f4d6>, line 4)

In [2]:
elphant = "string"
goat = 20
moneky = 3.6
baboon = ["buhari", 12, 5.8]

In [3]:
type(elephant)

NameError: name 'elephant' is not defined

In [4]:
type(elphant)

str

In [5]:
type(goat)

int

In [6]:
type(monkey)

NameError: name 'monkey' is not defined

In [7]:
type(moneky)

float

In [9]:
# python string  come in single or double quotes
# python ints and floats are whole and decimal place numbers
# Ctrl+/

In [10]:
2  == 2

True

In [12]:
5 == 5

True

In [13]:
if 5 == 5:
    print("That's right")

That's right

In [14]:
if 5 == 6:
    print("That's right")

In [15]:
if 5 == 6:
    print("That's right")
else:
    print("They are not equal")

They are not equal

In [16]:
if 5 == 6:
    print("That's right")
elif 5 == 7:
    print("That;s it")
else:
    print("We are tired here")

We are tired here

In [17]:
#Take user input for weight and price of rice and compare for which is lower in price
weight0 = input("What is the weight of the rice: ")
price0 = input("What is the price ")

weight1 = input("What is the weight of the 2nd rice: ")
price1 = input("What is the price of rice 2")

if price0 > price1:
    print("The first entry is costlier")
else:
    print("The first entry is cheaper")

What is the weight of the rice: 15kg
What is the price 5000
What is the weight of the 2nd rice: 25kg
What is the price of rice 23500
The first entry is costlier

In [18]:
type(price0)

str

In [19]:
type(price1)

str

In [20]:
a > a

NameError: name 'a' is not defined

In [21]:
"a" > "a"

False

In [22]:
"a" == "a"

True

In [23]:
#format()

In [24]:
item = "goat"
print(item)

goat

In [25]:
print("The variable item holds {}")

The variable item holds {}

In [ ]:
print("The variable item holds {}".f)