In [1]:
print("Hello World")

Hello World

# Python Variables

In [2]:
aVariable = 15

In [3]:
aVariablea

NameError: name 'aVariablea' is not defined

In [4]:
aVariable

15

In [5]:
type(aVariable)

int

# Python Types

In [6]:
#############
# Built in Types
###################
# Strings 
# Numbers:  Integers and Floats
# Boolean

In [7]:
#Strings are enclosed in single or double quotes
test = "Buhari"
test1 = ' Yahaya Bello'

In [8]:
test

'Buhari'

In [9]:
test1

' Yahaya Bello'

In [10]:
test3 = 'This is Obi's car'

SyntaxError: invalid syntax (<ipython-input-10-81dc606810bd>, line 1)

In [11]:
test3 = "This is Obi's car"

In [12]:
test3

"This is Obi's car"

In [13]:
test3 = This is Obi's car

SyntaxError: EOL while scanning string literal (<ipython-input-13-31359429be51>, line 1)

In [14]:
type(test3)

str

In [15]:
#Python numbers
#Integers = regular 1, 2, 3 etc
#Floats = decimal place numbers 1.0, 1.4, 7.8

In [16]:
number = 27

In [17]:
number

27

In [18]:
number2 = 5.9

In [19]:
number2

5.9

In [20]:
type(number)

int

In [21]:
type(number2)

float

In [23]:
#Boolean 
#True
#False

In [24]:
number + number2

32.9

In [25]:
number * number2

159.3

In [26]:
test + number

TypeError: can only concatenate str (not "int") to str